font {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}

#topbar {
    align-items: center;
    background-color: #191919;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 40px;

}

.vertical-line {
    /* display: inline; */
    border-left: 1px solid #6c6c6c;
    /* margin: 0 10px; */
    height: 21px;
}

#social-icons {
    padding-left: 375px;
    font-size: 16px;

}

#side-icons {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-right: 376px;
    display: flex;
    align-items: center;
}

i.material-icons {
    display: inline-flex;
    vertical-align: top;
}

body {
    margin: 0;
}

.header-icons {
    color: #6c6c6c;
    display: flex;
    gap: 15px;
}

.right-material{
    display: flex;
    align-items: center;
}
.main-header{
    height: 900px;
}
/* .material-symbols-outlined{
    color: #ffffff;
} */
.arrow-icons{
    color: #ffffff;

}
.middle-heading{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 35px;
}
.pasco{
    font-family: 'Open Sans', sans-serif;
     font-weight: 600; 
    color: #ffffff ;
}
.navbar{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}