.centeral-header {
    justify-content: center;
    background-color: #191919;
    display: flex;

}


font {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}

.topbar {
    align-items: center;
    width: 1180px;
    background-color: #191919;
    justify-content: space-between;
    display: flex;
    height: 40px;

}

.vertical-line {
    border-left: 1px solid #6c6c6c;
    height: 20px;
    position: relative;
    left: -5px;
  justify-content: space-between;
}

#social-icons {
    float: left;
    font-size: 16.00px;
    gap: 14.5px;
    width: 219px;
    color: #6c6c6c;
    display: flex;
    gap: 15px;

}

.navbar-right-icons{
    width: 173px;
     font-family: 'Montserrat', sans-serif;
justify-content: space-between;
color: #6c6c6c;
float: right;
display: flex;
}

i.material-icons {
    display: inline-flex;
    vertical-align: top;
}

body {
    margin: 0;
}

.header-icons {
    color: #6c6c6c;
    display: flex;
    gap: 15px;
}



.left-material{
    display: flex;
    align-items: center;
    width: 84px;
    left: 4px;


} 
.right-material {
    display: flex;
    position: relative;
    left: 5px;
    align-items: center;
    font-weight: 400;
    width: 77px;
}

.main-header {
    height: 900px;
}

.arrow-left {
    color: #ffffff;
    float: left;

}

.arrow-right {
    color: #ffffff;
    float: right;

}

.middle-heading {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 35px;
}

.pasco {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar ul {
    float: right;
}

.read-button {
    border-radius: 25px;
    background-color: #303f9f;
    font-size: larger;
    color: #ffffff;
    height: 51px;
    width: 192px;
    border: none;
}

.header-content {
    text-align: center;
    padding: 40px;
}

.centeral-content {
    display: block;
}