@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";

font {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}

.centeral-header {
    justify-content: center;
    background-color: #191919;
    display: flex;

}

.account-circle {
    font-size: 19px;
}

.sign-in-icon {

    font-size: 12px;
    margin-right: 16px;
    font-weight: 400;
}

.home {


    padding-left: 13px;
    /* margin-left: 50px; */
    /* width: 100px; */
    display: flex;
    border-bottom: 5px solid #ff4081;
    /* margin-top: 20px; */

}

.language-icon {
    font-size: 19px;
    margin-right: 7px;
}

.eng-icon {
    margin-left: -6px;
    font-size: 11px;
    margin-top: 2px;
}

.expand-more-icon {
    font-size: 19px;
    margin-right: -5px;
}

.topbar {
    align-items: center;
    width: 1170px;
    background-color: #191919;
    justify-content: space-between;
    display: flex;
    height: 40px;

}

.vertical-line-topbar {
    border-left: 1px solid #6c6c6c;
    height: 20px;
    margin-right: 14px;
    margin-top: 2px;
}

.social-icons {
    float: left;
    font-size: 17px;
    color: #6c6c6c;
    display: flex;
    gap: 14.5px;
    margin-left: 1px;
    margin-top: 2px;

}

.navbar-right-icons {

    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    color: #6c6c6c;

    display: flex;
}

i.material-icons {
    display: inline-flex;
    vertical-align: top;
}

body {
    margin: 0;
}

.left-material {
    display: flex;
    align-items: center;
    left: 4px;
}

.right-material {
    display: flex;
    align-items: center;
    font-weight: 400;
}

.main-header {
    background-image: url(../images/headermain.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 62px;
    /* justify-content: center;*/

}

.navlist {

    width: 1170px;
    color: #ffffff;
    display: flex;

}

/* .arrow-left {
    color: #ffffff;
    float: left;
}

.arrow-right {
    color: #ffffff;
    float: right;

} */

/* .activebar {
    border: 2.5px solid #ff4081;
    width: 75px;
   
    margin-top: -8px;
} */


.millennial-container {

    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-left: 20px;
    font-size: 40px;

}

.top-navigation {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* margin-right:73px */
.pasco {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 14px;
    margin-right: 59px;
    color: #ffffff;

}

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 14px;
    display: flex;
}

.navbar li {
    float: left;
    height: 41px;
    list-style: none;
}

.navbar ul {
    float: right;
}

.right-icon-container {
    font-size: 19px;
    margin-top: 2px;

}

.read-button {

    margin-right: 42px;
    margin-top: 28px;
    border-radius: 30px;
    background-color: #303f9f;
    font-size: 17px;
    font-weight: 400;
    padding-left: 7;
    letter-spacing: 1px;
    color: #ffffff;
    height: 46px;
    width: 170px;
    border: none;
    font-family: 'Montserrat', sans-serif;

}

.header-content {
    text-align: center;
    padding: 40px;
}

.centeral-container {
    margin-left: 48px;
    display: grid;
    justify-items: center;
    margin-top: 182px;
}

.left-icon-container li {
    margin: 11px 10px;

}

.vertical-line-navbar {
    border-left: 1px solid #6c6c6c;
    height: 30px;
}

.right-icon-container .vertical-line-navbar {
    font-size: 20px;
}

.search-icon {
    margin-top: 3px;
    margin-right: 15px;
    margin-left: 5px;
}

.favourite-icon {
    margin-left: 13px;
    margin-right: 12px;
}

.shoppingcart-icon {
    font-size: 22px;
    margin-left: 14px;

}

.image-content {
    display: inline-block;
    width: 100%;
}

/* 
.left-arrow-container {
    font-size: 22px;
    float: left;
    margin-top: 305px;
    color: #ffffff;
    margin-left: 42px;
}

.right-arrow-container {
    float: right;
    margin-top: -105px;
    color: #ffffff;
    margin-right: 42px;
    font-size: 22px
} */

.inspiration-container {
    margin-right: 40px;
    /* letter-spacing: 1px; */
    font-size: 21px;
    font-weight: 400;
    color: #bdbdbe;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3px;
}

.heading-container {
    margin-top: 14px;
    color: #ffffff;
    letter-spacing: 2px;
    margin-right: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

}

.millennial-container {
    letter-spacing: 2px;
    font-size: 42px;
}

.future-container {
    /* margin-top: -8px; */
    letter-spacing: 1px;
    font-size: 42px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.authordetails-container {
    margin-top: 77px;

    display: grid;
    justify-content: center;
    align-items: center;
}

.henry-container {
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 91px;
    /* display: flex; */
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    justify-content: center;
    color: #fbfbfb;
    font-family: 'Montserrat', sans-serif;

}

.henry-image1 {
    /* margin-bottom: -1px; */
    margin-top: 27px;
    margin-left: 10px;
    /* display: flex; */
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    justify-content: center;
    color: #4e4e4e;
    font-family: 'Montserrat', sans-serif;
}

.card1-date-container {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-left: 9px;
    color: #908f90;
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
}

.bg-author-image {
    height: 55px;
    display: flex;
    justify-content: center;

}

.comments-container {

    margin-right: 8px;
    margin-top: 33px;
    width: 260px;
    color: #bebebe;
    font-weight: 800;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: space-around;
}

.comment {
    font-size: 17px;
}

.like {
    font-size: 17px;
    margin-top: -1px
}

.comment-icon {

    display: flex;
    margin-top: 1px;
    font-size: 12px;
    margin-right: 4px;

}

.like-icon {

    margin-top: 2px;
    display: flex;
    font-size: 12px;

}

.btn-list-container {
    justify-content: space-around;
    display: flex;
    background-color: #ffffff;
    height: 60px;
    align-items: center;
}

.list-container {
    display: flex;
}


.sort-blog {
    margin-top: 3px;
    /* font-style: bold; */
    display: inline;
    font-size: 9px;
    margin-left: 1px;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: bold; */
    letter-spacing: 1px;
    font-weight: 800;
}


.inner-container {
    width: 1170px;
    display: flex;
    align-items: center;
    gap: 22px;

    margin-bottom: 1px;
}

.all-container {
    /* font-size: 15px; */
    color: #727fc9;
    border: 1px solid #727fc9;
    height: 29px;
    letter-spacing: 1px;
    width: 80px;
    font-weight: 700;
    margin-left: 4px;
    font-size: 10px;
    border-radius: 25px;

}

.buttons {
    gap: 15px;
    display: flex;
}

.list-button-container {
    font-size: 8px;
    color: #373737;
    border: none;
    height: 29px;
    padding: 10px 25px 10px 25px;
    /* font-size: 12px; */
    border-radius: 25px;
    font-weight: 700;
    /* letter-spacing: 1px;*/
}

.horizontal-break {

    border: 2px solid #e6e6e6;
}

.body-container {

    background-color: #f5f5f5;
    /* height: 2608px; */
    display: flex;
    justify-content: center;
}

.centeral-division {

    
    align-items: start;
    /* justify-content: space-around; */
    width: 1170px;
    display: flex;
    gap: 40px;


}

.centeral-card {
    display: flex;
    float: left;
    margin-top: 30px;
    background-color: #ffffff;
    width: 1170px;
    /* justify-content: center; */
    /* align-items: center; */
    height: 2608px;
}

.lefthand-container {
    /* background-color: #ffffff; */
    /* margin-left: 260px; */
    width: 820px;
    margin-top: 27px;
    /* margin-right: ; */

}

.image1 {

    /* grid-row-gap: 0px; */
    display: grid;
    /* margin: 0px; */
    /* height: 670px; */
    align-content: center;
}

.image-10things {

    background-image: url(../images/body-1.png);
    height: 421px;
    width: 820px;

}

.image_play {
    color: #ffffff;
    display: flex;
    margin-top: 180px;
    font-size: 60px;
    /* margin-top: 200px; */
    justify-content: center;
}

.play-btn {
    font-size: 55px;
    margin-top: 179px;
    /* margin-top: 190; */
    justify-content: center;
    display: flex;
    color: #ffffff;
    /* align-items: center;*/

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.image-activity {

    display: inline;
    color: #ffffff;
    font-family: 'Monteserrat', sans-serif;
    font-size: 13px;

}

.caption {
    float: left;
    margin-top: 150px;
    margin-left: 18px;
}

.activity {
    float: right;
    display: flex;
    margin-top: 149px;
    margin-right: 20px;


}

.comments {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.likes {
    align-items: center;
    display: flex;
}

.comment-image {
    font-size: 16px;
}

.like-image {
    font-size: 16px;
}

.image1-caption-container {

    background-color: #ffffff;
    /* height: 120px; */
    width: 820px;
    padding-bottom: 22px;

}

.boldheading-container {
    word-spacing: 3px;
    color: #191919;
    font-size: 17px;
    letter-spacing: 1px;
    padding-top: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: 20px;

}

.description-container {
    margin-left: 18px;
    margin-top: 10px;
    /* margin-bottom: 50px; */
    letter-spacing: 1px;
    margin-right: 30px;
    word-spacing: 1px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;

}

.author-details {
    height: 75px;
    background-color: #ffffff;
    display: flex;
    padding-bottom: 15px;
}

.author-image {
    height: 55px;
    margin-top: 20px;
    margin-left: 20px;
}

.author-name {
    display: grid;

}

.divider {

    border: 1px solid #e0e0e0;



}

.author-name .henry-container {
    color: #191919;
}

.card1 {
    display: inline;
}

.card2 {
    margin-top: 20px;
    display: flex;
    background-color: #ffffff;

}

.card2-boldheading-container {

    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 10px;
    font-weight: 900;
    margin-left: 19px;
}

.image2 {
    height: 165px;
}

.card2-description-container {

    margin-left: 17px;
    margin-top: 9px;
    margin-bottom: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    margin-right: 30px;
    word-spacing: 1px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;


}

.card2-author-details {

    display: flex;
    margin-left: 20px;
    margin-top: 11px;
    font-family: 'Montserrat', sans-serif;
}

.card2-authordate {
    display: inline;
}

.card2-date-container {

    font-family: 'Montserrat', sans-serif;

    font-size: 11px;
    margin-top: 9;
    letter-spacing: margin-ri;
    color: #908f90;
    /* padding-bottom: 20px; */
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
    /* margin-left: 7px; */
}

.card2-author-container {

    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #373737;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.dot-container {

    margin-top: 15px;
    display: flex;
    float: right;
    margin-left: 356px;
    font-size: 20px;
}

.card-divider {

    border: 1px solid #e0e0e0;
    margin-top: 4px;
}

.card2-image {

    background-image: url(../images/card2-image.png);
    width: 396px;
    background-repeat: no-repeat;


}

.play-cards-container {
    font-size: 52px;
    margin-top: 58px;
    justify-content: center;
    display: flex;
    color: #ffffff;
    /* align-items: center;*/
}

.card2-image-activity {
    display: inline;
    color: #ffffff;
    font-family: 'Monteserrat', sans-serif;
    font-size: 13px;
}

.card2-caption {

    float: left;
    margin-top: 25px;
    margin-left: 17px;

}

.card2-activity {

    float: right;
    display: flex;
    margin-top: 22px;
    margin-right: 20px;


}

.card3-image {

    background-image: url(../images/card3-image.png);
    width: 396px;
    background-repeat: no-repeat;
}

.card4-image {

    background-image: url(../images/card4-image.png);
    width: 396px;
    background-repeat: no-repeat;


}

.righthand-container {

    /* color: #989898; */
    margin-top: 27px;
    font-family: 'Open-Sans', sans-serif;
    /* width: 265px; */
    float: left;
    background-color: #ffffff;
    left: 44px;
    /* margin-left: 23px; */

}

.searchbar {
   
    
    background-color: #f5f5f5;
    width: 263px;
    padding: 3px;
    display: flex;
    margin-left: 30px;
    margin-top: 25px;
    justify-content: space-between;
    border-radius: 25px;
    border: 2px solid #ffffff;
    float: right;

}

.searchbar-container {

    color: #989898;
    margin-top: 8px;
    font-family: 'Open-Sans', sans-serif;
    /* width: 265px; */
    float: left;
    left: 44px;
    margin-left: 23px;
}

.coloured-searchicon {
    
    color: #ffffff;
    background-color: #ff4081;
    float: right;
    font-size: 34px;
    border-radius: 25px;
}

.blankspace {
    background-color: #ffffff;
    margin-top: 27px;
    margin-left: 0px;
}

.widgets {
    margin-left: 40px;
    gap: 10px;
    letter-spacing: 1px;
    font-size: 13px;
    display: grid;
}

.categories {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #3e51b5;
    font-size: 17px;
    font-weight: 600;
}
.green-horizontal-line{
    border: 1px solid #aec3ff;
}
.category-name{
    font-family: 'Open-Sans', sans-serif;

}
.category-frequency{
    
    font-family: 'Open-Sans', sans-serif;
font-weight: 800;
}
.category-block{
    display: flex;
    justify-content: space-between;
}

